---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import RoverPathways from '../components/RoverPathways.astro';
import Pathway from '../components/Pathway.astro';
import Certifications from '../components/Certifications.astro';
import TerrainLab from '../components/TerrainLab.astro';
import Curriculum from '../components/Curriculum.astro';
import WhySection from '../components/WhySection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <RoverPathways />
    <Pathway />
    <Certifications />
    <TerrainLab />
    <Curriculum />
    <WhySection />
  </main>
  <Footer />
</Layout>
